@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

body{
    display: flex;
    flex-direction: column;
    background-color: #FFCC00;
 	font-family: 'Montserrat', sans-serif;
}

h1{
    font-family: 'Montserrat', sans-serif;
}

.titlebar{
    display: flex;
    border: 3px solid #000000;
    justify-content: center;
    height: auto;
    background-color: #ffffff;
    box-shadow: 4px 4px 0 0 rgba(0,0,0,1);
}

.actions{
    display: flex;
    height: 5px;
    margin-top: 25px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.nav_button{
    display:flex;
    height: 25px;
    width: 190px;
	border: 2px solid #000000;
	background-color: #0033FF;
    box-shadow: 2px 2px 0 0 rgba(0, 0, 0, 1);
    color: white;
    margin: 0;
    justify-content: center;
    align-items: center;
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}

.nav_button:active {
	transform: scale(0.85);
}

.nav_button:hover {
	background-color: #FFCC00;
}

.imagegallery{
    display: flex;
    border: 3px solid #000;
    background-color: #ffffff;
    margin-top: 20px;
    height: auto;
    box-shadow: 4px 4px 0 0 rgba(0,0,0,1);
    flex-wrap: wrap;
}


ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
}

li {
    height: auto;
    flex-grow: 0;
}

li:last-child {
    flex-grow: 10;
}

#imgfromgallery {
    max-width: 99%;;
    object-fit: cover;
    vertical-align: bottom;
    box-shadow: 1px 1px 0 0 rgba(0,0,0,1);
    border: 1px solid black;
}
