.image-gallery {
  margin: 20px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  width: 100%;
  max-width: 100%;
  padding: 10px;
  background-color: #f9f9f9;
  border: 2px solid #ddd;
  border-radius: 8px;
}
.image-gallery img {
  max-width: 100%;
  height: auto;
  border-radius: 4px;
  object-fit: cover;
}