@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

body {
    background: #FFCC00;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    font-family: 'Montserrat', sans-serif;
    min-height: 100vh;
    min-width: 100vw;
    margin-top: 10px;
    overflow: auto;
}

h1 {
    font-weight: bold;
    margin: 20px 5px;
    font-family: 'Lexend Mega', sans-serif;
    font-weight: 800;
    text-transform: uppercase;
}

#imageContainer-box{
    display: flex;
    flex-direction: column;
    height: 1050px;
    width: 760px;
    margin-left: 50vw;
    overflow: hidden;
    background-color: #FFCC00;
    align-content: center;
    justify-content: center;
    align-self: center;
}

.imageOutput {
    width: 900px;
    max-height: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    border: 3px solid #000000;
    box-shadow: 6px 6px 0px 0px rgba(0,0,0,1);
    background-color: white;
    transform: translateX(-50%) translateY(-50%);
    flex-shrink: 0;
}

.imageOutput.visible{
    opacity: 1;
}

.nextbutton{
    width: 128px;
    position:absolute;
    display: flex;
    border: 2px solid #000000;
    background-color: #0033FF;
    color: white;
    box-shadow: 2px 2px 0px 0px rgba(0,0,0,1);
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
    margin: 10px 0;
    width: 256px;
}

.nextbutton:active {
    transform: scale(0.85);
}

.nextbutton:hover {
    background-color: #FFCC00;
}


.leftbar{
    display: flex;
    background-color: #FFFFFF;
    flex-direction: column;
    flex-grow: 0;
    width: 312px;
    height: 90vh;
    align-self: flex-start;
    align-items: flex-start;
    justify-content: center;
    text-align: center;
    margin-left: 10px;
    margin-top: 25px;
    box-shadow: 10px 10px 0px 0px rgba(0,0,0,1);
    border: 2px solid #000000;
    wrap-option: wrap;
}

.buttons{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: flex-end;
}

.nav_button{
    display: flex;
    border: 2px solid #000000;
    background-color: #0033FF;
    color: white;
    box-shadow: 2px 2px 0px 0px rgba(0,0,0,1);
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
    margin: 10px 0;
    width: 100px;
    margin-left: 54px;
}

.nav_button:active {
    transform: scale(0.85);
}

.nav_button:hover {
    background-color: #FFCC00;
}
