        h1 {
            text-align: center;
            color: red;
        }

         h2{
             text-align: center;
             color: red;
         }
        body {
            margin: 0;
            height: 100vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
        }

        .title {
            position: fixed;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            margin: 10px 0;
        }
        .box {
            width: 25%;
            height: 50%;
            background-color: darkgray;
            border: 2px solid black;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .box button{
            background-color: #ea5656;
            width: 30%;
            padding: 5px 5px;
            font-size: 16px;
            box-shadow: 0 4px 4px 0 rgba(0,0,0,0.5);
            margin: 2px;
            border-radius: 5%;
        }

        .box h2{
            color: black;
        }




