@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

* {
	box-sizing: border-box;
}

body {
    display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	background: #FFCC00;
	font-family: 'Montserrat', sans-serif;
	height: 100vh;
	margin: -20px 0 50px;
}

h1 {
	font-weight: bold;
	margin: 20px 5px;
}

h2 {
	text-align: center;
}

p {
	font-size: 14px;
	font-weight: 100;
	line-height: 20px;
	letter-spacing: 0.5px;
	margin: 20px 0 30px;
}

span {
	font-size: 13px;
	font-weight: 100;
	line-height: 20px;
	letter-spacing: 0.5px;
	margin: 20px 0 30px;
}

a {
	color: #333;
	font-size: 18px;
	text-decoration: none;
	margin: 15px 0;
}

.leftbar{
    display: flex;
    background-color: #fff;
    flex-direction: column;
    flex-grow: 0;
    width: 256px;
    height: 90vh;
    align-self: flex-start;
    align-items: flex-start;
    margin-left: 10px;
    margin-top: 25px;
    box-shadow: 10px 10px 0px 0px rgba(0,0,0,1);
    border: 2px solid #000000;
}

.profilebox{
    display: flex;
}

.profile_picture{
    display: flex;
    border: 2px solid #000000;
    flex-direction: column;
    background-color: #FB5607;
    width: 136px;
    height: 100px;
    margin-top: 25px;
    margin-left: 10px;
}

.profile_data{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    margin-left: 5px;
}

.buttons{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 25px;
}

.nav_button{
    margin-top: 25px;
	border: 2px solid #000000;
	background-color: #0033FF;
    color: white;
    box-shadow: 2px 2px 0px 0px rgba(0,0,0,1);
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
    user-select: none;
}

.nav_button:active {
	transform: scale(0.85);
}

.nav_button:hover {
	background-color: #FFCC00;
}


.logout{
    margin-top: auto;
    margin-left: 10px;
    flex-direction: column;
}


.container {
    display: flex; 
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

.spacer{
    margin-top: 25px;
    margin-left: 20px;
    margin-bottom: 0;
    max-width: 85vw;
    height: 64px;
}

.hidden-file-input {
    display: none; /* esconde o input e deixar só o botão label como input */
}


#uploadbutton{
    display: flex;
    margin-left: auto;
    margin-right: 10px;
    text-align: center;
    max-width: 150px;
    box-shadow: 2px 2px 0px 0px rgba(0,0,0,1);
}

/* image gallery controle */
.imagegallery{
    display: flex;
    border: 3px solid #000;
    background-color: #ffffff;
    margin-top: 20px;
    height: auto;
    width: 97%;
    box-shadow: 4px 4px 0 0 rgba(0,0,0,1);
    flex-wrap: wrap;
    margin-left: 25px;
}


ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
}

li {
    height: auto;
    flex-grow: 0;
}

/* evitar um comportamento estranho que vem com esse approach a galeria
sem isso pode acontecer da ultima imagem crescer muito ou sobrar espaço*/
li:last-child {
    flex-grow: 10;
}

#imgfromgallery {
    max-width: 99%;  /* pra ficar bonitinho dentro do container pai */
    object-fit: cover;
    vertical-align: bottom;
    box-shadow: 1px 1px 0 0 rgba(0,0,0,1);
    border: 1px solid black;
}



