<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/edit_profile.css') }}">
  </head>
  <body>
    <div class="form-box">

      <div class="wrapper-upload">
        <div class="blankspace" onclick="document.getElementById('fileUpload').click();">
            <h2>UPLOAD PROFILE PICTURE</h2>
        </div>
        <label class="nav_button" for="fileUpload">button</label>
        <form method="POST" enctype="multipart/form-data">
            {{ form.csrf_token }}
            {{ form.imagem(class="hidden-file-input", id="fileUpload", onchange="this.form.submit()") }}
        </form>
      </div>

    </div>
    <div class="wrapper-below">
      <div class="wrapper-danger">
        <h2>ÁREA PERIGOSA</h2>
        <label class="nav_button" id="dangerbutton">DELETAR CONTA</label>
      </div>

      <div class="wrapper-other">
        <label class="nav_button" id="voltarbutton" onclick="window.location.href='{{ url_for('profile', userid=current_user.id) }}'">Voltar</label>
      </div>
    </div>

    <script></script>
  </body>
</html>
