<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/edit_profile.css') }}">
    <meta name="csrf_token" content="{{ csrf_token() }}">
  </head>
  <body>
<!--  USANDO FLEXBOX PARA O LAYOUT EM PRATICAMENTE TODAS AS PÁGINAS-->
    <div class="form-box">

      <div class="wrapper-upload">
        <div class="blankspace" onclick="document.getElementById('fileUpload').click();">
            <h2>UPLOAD PROFILE PICTURE</h2>
        </div>
        <label class="nav_button" for="fileUpload">Upload</label>
        <form method="POST" enctype="multipart/form-data">
            {{ form.csrf_token }}
            {{ form.imagem(class="hidden-file-input", id="fileUpload", onchange="this.form.submit()") }}
        </form>
<!--  sintaxe jinja2. necessário csrf token para que o upload seja válido na rota, medida de segurança
impede que qualquer um só digite o link da rota de upload -->
      </div>

    </div>
    <div class="wrapper-below">
      <div class="wrapper-danger">
        <h2>ÁREA PERIGOSA</h2>
        <label class="nav_button" id="dangerbutton">DELETAR CONTA</label>
      </div>

      <div class="wrapper-other">
        <label class="nav_button" id="voltarbutton" onclick="window.location.href='{{ url_for('profile', userid=current_user.id) }}'">Voltar</label>
      </div>
    </div>

<!--    modal para confirmação do delete account -->
    <div id="modalbox" class="modal">
      <div class="modal-content">
        <p>Tem certeza disso? Sua conta será excluída
        <label><h2>APÓS A CONFIRMAÇÃO, É IMPOSSÍVEL DESFAZER.</h2></label></p>
        <div class="button-wrapper">
          <label class="nav_button" id="confirmar_delete">Tenho certeza, quero excluir minha conta</label>
          <label class="nav_button" id="cancelar_delete">Cancelar, não quero excluir</label>
        </div>

      </div>
    </div>

    <script src="{{ url_for('static', filename='js/delete_account.js') }}"></script>
  </body>
</html>
