<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/feed_all.css') }}">
    <title>mural dos usuarios</title>
</head>
<body>
    <div class="titlebar"><h1>texto</h1></div>
    <div class="imagegallery">
        <ul>
            {% for image in img_gallery %}
            <li>
                <img src ="{{ url_for('static', filename='posters/{}'.format(image.img)) }}" alt="imagem-galeria" id="imgfromgallery"/>
            </li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>