<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/feed_all.css') }}">
    <title>mural dos usuarios</title>
</head>
<body>
    <div class="titlebar"><h1>texto</h1></div>
        <div class="actions">
        <label class="nav_button" id="voltarbutton" onclick="window.location.href='{{ url_for('profile', userid=current_user.id) }}'">Voltar</label>
        <label class="nav_button" onclick="window.location.href='{{ url_for('logout') }}'">Sair?</label>
    </div>
    <div class="imagegallery">
        <ul>
            {% for image in img_gallery %}
            <li>
                <img src ="{{ url_for('static', filename='posters/{}'.format(image.img)) }}" alt="imagem-galeria" id="imgfromgallery"/>
            </li>
            {% endfor %}
        </ul>
<!-- for loop em html, me perdooem por essa atrocidade
 (puxa todas imagens da DB através da variável img_gallery importada pela rota-->
    </div>
</body>
</html>