<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="csrf-token" content="{{ csrf_token() }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/feed.css') }}">
    <title>Feed</title>
</head>
<body>

<div container class="leftbar">
    <span class="maintexto"><p>Tutorial: Clique e deslize com o mouse para deixar sua opinião sobre as imagens.</p></span>
    Lembre-se: Para esquerda = Dislike
    Para direita: like
    <br>
    Se divirta!!
    <nav class="buttons">
        <label class="nav_button" onclick="window.location.href='{{ url_for('feed_all') }}'">Ver todos</label>
        <label class="nav_button" id="voltarbutton" onclick="window.location.href='{{ url_for('profile', userid=current_user.id) }}'">Voltar</label>
    </nav>
</div>

    <div id="imageContainer-box">
            <img class="imageOutput" id="first-imageOutput">
            <img class="imageOutput" id="second-imageOutput">
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.min.js"></script>
<!-- importando a library javascript responsável por lidar com os gestos do mouse -->
    <script src="{{ url_for('static', filename='js/swiper.js') }}"></script>
</body>

<script>
    const feedAll_url = "{{ url_for('feed_all')}}";
// meio engenhoso, define o link dentro do template html, já que a referência do flask (jinja2) só funciona aqui,
    // mas o escopo
// das variaveis definidas aqui também contempla os scripts importados, então funciona como se estivesse no mesmo
//  "arquivo".
</script>
</html>