<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="csrf-token" content="{{ csrf_token() }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/feed.css') }}">
    <title>Feed</title>
</head>
<body>

    <h1>IMAGENS: </h1>
    <div id="imageContainer-box">
        <img id="imageOutput"></img>
    </div>
    <button onclick="add_one()"></button>

    <a href=" {{ url_for('logout') }}"> <p>sair?</p> </a>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.min.js"></script>
    <script src="{{ url_for('static', filename='js/slider.js') }}"></script>
</body>
</html>