<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>funcionando</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">

</head>
<body>

    <h1 class="title">MUITAS FOTOS.</h1>

<div class="box">
    <h2>Bem-vindo ao </h2>
    <button onclick="window.location.href='{{ url_for('login_page') }}'">Login</button>
    <br>
    <button onclick="window.location.href='{{ url_for('newaccount') }}'">Criar Conta</button>
</div>

</body>
</html>