<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sterpinter</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/landingpage.css') }}"></head>
<body>
    

   <div class="wrapper">
        <div class="title"><h1>Sterpinter</h1></div>
        <div class="maintext"><h2>Texto de landing page extremamente chamativo! Wow such design choices</h2> <img class="mediabox" src="pattern2.bmp"></div>
        <div class="bigbutton">
            <div class="cardleft"></div>
            <label class="nav_button" onclick="window.location.href='{{ url_for('form') }}'">ENTRAR</label>
<!--            COLOCAR O LINK PRO LOGIN PAGE-->
        </div>
    </div>

</body>
</html>