<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LOGIN</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login_page.css') }}">

</head>
<body>
    <h1>LOGIN</h1>
    <h2> loga aí </h2>

    <div class="box">
    <form method="POST">
    {{ form.csrf_token }}

        {{ form.username.label() }}
        {{ form.username() }}

        {{ form.passw.label() }}
        {{ form.passw() }}

        {{ form.confirmButton() }}
    </form>
    </div>

    <a href="{{ url_for('home') }}">voltar</a>
</body>

</html>