<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NEW ACCOUNT</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/newaccount.css') }}">
</head>
<body>
    <h1>CRIE SUA CONTA</h1>
    <h2>INSIRA SEUS DADOS: </h2>

    <div class="box">
    <form method="POST">
    {{ form.csrf_token }}

        {{ form.username.label() }}
        {{ form.username() }}

        {{ form.passw.label() }}
        {{ form.passw() }}

        {{ form.confirmation_passw.label() }}
        {{ form.confirmation_passw() }}

        {{ form.confirmButton() }}
        </div>
    </form>
</body>


</html>