<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css') }}">

</head>
<body>

<div class="leftbar">
        <div class="profilebox">
            <img class="profile_picture" src="{{ url_for('static', filename='posters/' + nome.profile_image) }}">
            <span class="profile_data">{{ nome.username }}<br>Entrou em {{ nome.joinDate }}</span>
        </div> <!-- puxa os valores das variáveis que são enviadas junto na hora do render template -->

        <nav class="buttons">
            <label class="nav_button" onclick="window.location.href='{{ url_for('feed_all') }}'">Ver todos posts</label>
            <label class="nav_button" onclick="window.location.href='{{ url_for('feed') }}'">Swiper</label>
            <label class="nav_button" onclick="window.location.href='{{ url_for('edit_profile') }}'">Editar perfil</label>
        </nav>
        
        <a class="logout" href=" {{ url_for('logout') }}">Sair?</a>
</div>
    
<div class="container">
    <div class="spacer"> <!-- não sabia usar margin quando fiz isso... -->
            {% if form %}
    <form method = "POST" enctype="multipart/form-data">
            {{ form.csrf_token }}
            {{ form.imagem(class="hidden-file-input", id="fileUpload", onchange="this.form.submit()") }}
            <label class="nav_button" id="uploadbutton" for="fileUpload">Upload</label>
    </form>
    {% endif %}
    </div> <!-- tudo usando sintaxe do flask -->

    <div class="imagegallery">
        <ul>
            {% for image in nome.fotos %}
            <li>
                <img src ="{{ url_for('static', filename='posters/{}'.format(image.img)) }}" alt="imagem-galeria" id="imgfromgallery"/>
            </li>
            {% endfor %}
        </ul>
    </div>
</div> <!-- galeria de imagens onde as imagens se adaptam ao próprio tamanho, essencialmente é uma lista
 invisível e só vai adicionando conforme tem as imagens, bem bonitinho -->

</body>
</html>